body {
    display: grid;
    place-items: center;
    background:
    radial-gradient(#93ccff 3px, transparent 4px),
    radial-gradient(#9af4d9 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-image: url(../images/loader.gif);
    background-size: 220px;
    background-position: 50% 50%;
    background-color: #fbfae9;
    background-repeat: no-repeat;
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fcfcd4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
.header .logo {
    color: #364954;
    padding: 0 1rem;
    text-decoration: none;
    font-family: "Comic Sans MS";
}

.navbar ul{
    display: flex;
}
.navbar ul li{
    font-weight: bold;
    width: 128px;
    list-style: none;
    text-align:center;
}
.navbar ul li a {
    width: 128px;
    line-height: 40px;
    font-size: 1.3rem;
    font-family: "Microsoft JhengHei";
    color: #364954;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #99aebb;
}

#bigBox {
    margin: 0 auto; 
    margin-top: 120px; 
    padding: 20px 50px; 
    width: 800px;
    height: 500px;
    border-radius: 10px;   
    text-align: center;
    background: #fcfcd487;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 3px #fbfae777 solid;
    border-bottom: 3px rgba(40,40,40,0.35) solid;
    border-right: 3px rgba(40,40,40,0.35) solid;
    color: #364954;
    font-family: "Microsoft Yahei";
}
#bigBox h1 {
    font-size: 38px;
    position: relative;
    top: 3%;
}

.box-content {
    width: 100%;
    height: 90%;
    position: relative;
    top: 2rem; 
    margin: auto;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.5;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    border-radius: 1px;
    background-color: #ffe9cf;
    border: none;
    color: #364954;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3rem;
}
.btn:hover {
    background-color: #faefe2;
}
.btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 991;
  
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    width: 100%;
    height: 100%;
  
    background: rgba(55, 55, 55, .5);
}

.modal-content {
    width: 40rem;
    height: fit-content;
    padding: 2rem;
    border-radius: .8rem;
    color:#324b4b;
    background: linear-gradient(to bottom, #ffeab3, #f2fedc);
    box-shadow: .4rem .4rem 2.4rem .2rem #869e9e;
    position: absolute;
    top: 1.7rem; 
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.5;
    vertical-align: middle;
    margin: auto; 
}

.modal-content h1 {
    position: relative;
    top: -1rem;
    font-size: 26px;
    line-height: 2;
}

.modal-content .close {
    position: absolute;
    top: 5%;
    right: 5%;
}

.modal_btn {
    position: relative;
    top: 2rem;
    padding: 0.6rem 1.6rem;
    border: 1px solid #364954;
    border-radius: 50rem;
    margin-bottom: 1.5rem;
    color: inherit;
    background: transparent;
    font-size: 1.1rem;
    font-family: inherit;
    letter-spacing: .2rem;
    transition: .2s;
    cursor: pointer;
}
  
.modal_btn:hover,
.modal_btn:focus {
    border-color: #364954;
    transform: translateY(-.2rem);
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}